@import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');


$textColor: White;
$greyColor: #BBB;

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    background: black;
    overflow-y: scroll; 
}
  
body {
    font-family: "Open Sans";
    font-size: 16px;
    color: $textColor;  
    font-smoothing: antialiased;
    font-weight: 600;
}

a {
    width: 120px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(148, 255, 98);
    transition:.5s ease;
    &:hover {
      color:rgb(97, 156, 18);
    }
}

.base_container:before {
    content: "";
    left: 0;
    right: 0;
    top: 0; bottom: 0;
    z-index: -1;
    position: fixed;
  
    display: block;
    background-color: black;
    background-image:url('../../images/background.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;

    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.base_container {
    position: absolute;
    top: 15vw; bottom: 0; left: 20vw; right: 0;
    width: 540px;
    height: 800px;
    
    background-color: rgba(10, 10, 10, 0.5);
    margin: auto auto;  
    padding: 40px;
  
    border-radius:4px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    
    .login_container {
        position: absolute;
        width: 540px;
        height: 600px;
        
        background-color: rgba(10, 10, 10, 0.5);
        margin: auto auto;  
        padding: 40px;
      
        border-radius:4px;
        box-shadow: 0 0 10px rgba(0,0,0,1);
    }
    
    .register_container {
        position: absolute;
        width: 540px;
        height: 800px;
        
        background-color: rgba(10, 10, 10, 0.5);
        margin: auto auto;  
        padding: 40px;
      
        border-radius:4px;
        box-shadow: 0 0 10px rgba(0,0,0,1);
    }
    
    .title {
        text-align: center;
        font-size: 2.0rem;
        font-weight: 600;
        padding-bottom: 30px;
    }
    
    .form {
        margin-top: 2em;
        align-content: center;
        align-self: center;
        align-items: center;
        // width: 100%;
        
        .form-group {
            display: flex;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            
            label {
                font-size: 20px;
            }
        }
    }
    
    input {
        width: 100%;
        margin-top: 6px;
        min-width: 18em;
        height: 37px;
        padding: 0px 10px;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        background-color: #ffffffa8;
        border: 0;
        border-radius: 4px;
        margin-bottom: 31px;
        transition: all 250ms ease-in-out;
        border-radius: 4px;
          
        &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
        }
    }
    
    input[type=checkbox] {
        display: none;
    }
    
    .agreement {
        display: inline-block;
        width: 20px;
        height: 20px;
    
        cursor: pointer;
        position: relative;
    
        margin-left: 5px;
        margin-right: 10px;
        top: 5px;
    
        &:before {
          content: "";
          display: inline-block;
    
          width: 20px;
          height: 20px;
          
          border-radius: 3px;
    
          position: absolute;
          left: 0;
          bottom: 1px;
          background-color: #aaa;
          box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);        
        }
    }
    
    input[type=checkbox]:checked + .agreement:before {
        content: "\2713";
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        font-size: 20px;
        color: Black;
        text-align: center;
          line-height: 20px;
    }
    span {
        font-size: 0.9rem;
    }
    
    button {
        width: 100%;
        font-size: 1.1rem;
        padding: 10px;
        margin: 20px 0px;
        
        background-color: #66A756;
        color: $textColor;
        border: none;
        
        border-radius: 4px;
        cursor: pointer;
        overflow: hidden;
        transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
        
        // inspired by Nikolay Talanov - Login/Logout animation concept
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -1.5rem;
          margin-top: -1.5rem;
          width: 3rem;
          height: 3rem;
          border: 2px dotted #fff;
          border-radius: 50%;
          border-left: none;
          border-bottom: none;
          transition: opacity 0.1s 0.4s;
          opacity: 0;
        }
        
        &.processing {
            width: 4rem;
            font-size: 0;
            
            &:after {
              opacity: 1;
              animation: rotate 0.5s 0.4s infinite linear;
            }
        }
        
        &.success {
            transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
            transform: scale(30);
            opacity: 0.9;
            //background-color: rgba(255,255,255,0.95);
            
            &:after {
              transition: opacity 0.1s 0s;
              opacity: 0;
              animation: none;
            }
        }
        
        &:hover {
            background-color: #618a01;
        }
          
        &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
        }
    }
    
    .already {
        text-align: center;
        font-size: 0.9rem;
    }
}